<footer class="bg-light">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <h5>Categories</h5>
        <ul class="list-unstyled">
          <li><a class="link-secondary" href="#">Web Development</a></li>
          <li><a class="link-secondary" href="#">Mobile App Development</a></li>
          <li><a class="link-secondary" href="#">Data Science</a></li>
          <li><a class="link-secondary" href="#">Business</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6">
        <h5>About Us</h5>
        <ul class="list-unstyled">
          <li><a class="link-secondary" href="#">Blog</a></li>
          <li><a class="link-secondary" href="#">Press</a></li>
          <li><a class="link-secondary" href="#">Careers</a></li>
          <li><a class="link-secondary" href="#">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6">
        <h5>Support</h5>
        <ul class="list-unstyled">
          <li><a class="link-secondary" href="#">Help Center</a></li>
          <li><a class="link-secondary" href="#">Terms of Service</a></li>
          <li><a class="link-secondary" href="#">Privacy Policy</a></li>
          <li><a class="link-secondary" href="#">Cookie Policy</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6">
        <h5>Connect</h5>
        <ul class="list-unstyled">
          <li><a class="link-secondary" href="#">Facebook</a></li>
          <li><a class="link-secondary" href="#">Twitter</a></li>
          <li><a class="link-secondary" href="#">Instagram</a></li>
          <li><a class="link-secondary" href="#">LinkedIn</a></li>
        </ul>
      </div>
    </div>
    <hr />
    <p class="text-center text-muted">
      &copy; 2023 My Website. All rights reserved.
    </p>
  </div>
</footer>
