<!-- Primary Header -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">My Website</a>
    <form class="d-flex">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="#"
            >Account<i class="fa fa-user fa-lg"></i>
            <!-- Larger icon --></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Orders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"
            >Cart<i class="fa fa-shopping-cart fa-lg"></i>
            <!-- Larger icon --></a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Secondary Header -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" routerLink="/">Home</a>
        <a class="nav-link" routerLink="/shop">Shop</a>
        <a class="nav-link" routerLink="/about">About Us</a>
        <a class="nav-link" routerLink="/contact">Contact Us</a>
        <a class="nav-link" routerLink="/blog">Blog</a>
        <a class="nav-link" routerLink="/faq">FAQ</a>
      </div>
    </div>
  </div>
</nav>
