/* Header */

header {
  background-color: #fff;
  padding: 20px 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

header .navbar-brand {
  color: #212529;
  font-weight: 600;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

header .navbar-nav li {
  margin-left: 20px;
}

header .navbar-nav li a {
  color: #212529;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

header .navbar-nav li a:hover {
  color: #007bff;
}

header .navbar-toggler {
  border: none;
  outline: none;
}

@media (max-width: 768px) {
  header .navbar-nav li {
    margin: 0;
  }

  header .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
}
